#app {
    background-color: rgb(112,112,112);
    height: 100%;
    display:flex;
    flex-direction: column;
}

#app #top-bar {
    display: flex;
}

#app .app-title-bar {
    background-color: darkslateblue;
    width: 100%;
    display: flex;
    align-items: center;
}

#app .app-title-bar .app-title-text {
    padding-left: 20px;
    color: white;
    font-weight: 200;
    flex: auto;
}

#app .app-title-bar .app-title-bar-add-button {
    flex: none;
    padding-left: 10px;
    width: 48px;
}

#app .app-title-bar .app-title-bar-add-button .win-navbarcommand-button {
    color: white;
}

#app .app-title-bar .app-title-bar-add-button .win-navbarcommand-icon {
    margin-right: 0;
}


#app .win-splitviewpanetoggle {
   width: 48px;
   background-color: lightskyblue;
   border: 0;
   flex: none;
}

#app .win-splitviewpanetoggle:hover {
    background-color: Highlight;
}

#app .win-splitview-pane {
    /*display: flex;
    flex-direction: column;*/
}

#app .nav-bar-pane {
    height: 100%;
    width: 100%;
    /*flex: auto;*/
    display: flex;
    flex-direction: column;
    position: absolute;
}

#app .nav-bar-pane-bottom {
    margin-top: auto;
}

.win-splitview.win-splitview-pane-opened.win-splitview-placementleft .win-splitview-pane {
  width: 220px;
}

#app #contentArea {
    width: 100%;
    height: 100%;
}

/* ----------------------------------------------------------------------------------- */
/* Mobile indicator */


#modeIndicator {
	position: absolute;
	display: none;
	z-index: 1;
}

@media (max-width: 640px) {

    #modeIndicator {
        z-index: 2;
    }
}

@media (min-width: 1024px) {

    #modeIndicator {
        z-index: 3;
    }
}
    
/* ----------------------------------------------------------------------------------- */
/* Required by WinJS to behave as expected */

.win-navbarcommand-button {
    background-color: transparent;
}

.win-splitview-pane-hidden .win-navbarcommand-label {
    /* Workaround: Make sure pane doesn't scroll if ContentDialog restores focus to
       NavBarCommand's label
    */
    visibility: hidden;
}

.win-splitview .win-splitview-contentwrapper {
    flex: 1 1;
    overflow: hidden;
}
