#notebookListPane {
    background-color: ghostwhite;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    padding-right: 30px;
}

#notebookListView {
    width: 100%;
    height: 100%;
}

.notebookListTemplateElement {
    width: 280px;
    height: 100px;
    background-color: purple;
    color: white;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
}

.notebookListTemplateElement:hover {
    background-color: rebeccapurple;
}

.notebookElementName {
    font-size: 24px;
    font-weight: 300;
}

@media (max-width: 640px) {

    #notebookListPane {
        padding: 5px;
    }

    .notebookListTemplateElement {
        width: 250px;
    }
}